In [ ]:
  IF Leaders_Score BETWEEN 80 and 99 THEN
        UPDATE CHICAGO_PUBLIC_SCHOOLS
        SET =  Leaders_Score
        WHERE = School_ID
    
    ELSEIF Leaders_Score BETWEEN 60 AND 79 THEN
        
    ELSEIF Leaders_Score BETWEEN 50 AND 59 THEN
    ELSEIF Leaders_Score BETWEEN 20 AND 39 THEN
    ELSE 
    SET = Leaders_Icon

In [ ]:
DELIMITER $$

CREATE PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_School_ID INTEGER,
    IN in_Leader_Score INTEGER
)
BEGIN 
    UPDATE `CHICAGO_PUBLIC_SCHOOLS`
    SET Leaders_Score = in_Leader_Score
    WHERE School_ID = in_School_ID;
    
    IF in_Leader_Score BETWEEN 80 AND 99 THEN
        UPDATE `CHICAGO_PUBLIC_SCHOOLS`
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score BETWEEN 60 AND 79 THEN
        UPDATE `CHICAGO_PUBLIC_SCHOOLS`
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score BETWEEN 40 AND 59 THEN
        UPDATE `CHICAGO_PUBLIC_SCHOOLS`
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score BETWEEN 20 AND 39 THEN
        UPDATE `CHICAGO_PUBLIC_SCHOOLS`
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 20 THEN
        UPDATE `CHICAGO_PUBLIC_SCHOOLS`
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;
    END IF;
END$$

DELIMITER ;